* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 8px;
    background: white;
    font-family: math, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extra-features {
    display: flex;
    gap: 10px;
    align-items: center;
}

.extra-features .info-icon {
    font-size: 20px;
}

.extra-features .tooltip-content {
    display: none;
    position: absolute;
    top: 42px;
    right: 10px;
    width: 170px;
    padding: 2px 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #FFF;
    z-index: 1;
}

.extra-features .info-icon:hover ~ .tooltip-content {
    display: block;
}

#inputs {
    margin-top: 10px;
}

#lifts-area {
    position: relative;
    top: 20px;
    background-color: #edf2f6;
}

.floor {
    position: relative;
    border-bottom: 1px solid black;
    height: 150px;
    display: flex;
}

.floor .floor-identifier {
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: #9c9c9c;
}

.floor .controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.floor .controls button {
    cursor: pointer;
    padding: 8px 10px;
    text-transform: uppercase;
    border-radius: 4px;
    outline: none;
    border: none;
    margin: 10px;
    background-image: linear-gradient(45deg, #a18cd1 0%, #fbc2eb 100%);
    color: #222;
    width: 75px;
}

.floor .controls button:active, .floor .controls button:disabled, .floor .controls .button-disabled {
    color: white;
    background-image: linear-gradient(45deg, #c2b5df 0%, #f7daef 100%);
}

.floor .controls .button-disabled {
    pointer-events: none;
}

.lift {
    width: 90px;
    height: 120px;
    background: lightgray;
    position: absolute;
    bottom: 0;
    left: 100px;
    overflow: hidden;
    transition: all 2s linear;
}

.lift .lift-door {
    width: 50%;
    background: darkgray;
    height: 100%;
    float: left;
    border: 1px solid black;
    transition: all 2.5s ease;
}

#pending-lift-requests {
    margin-top: 10px;
    height: 24px;
    display: flex;
}

#pending-lift-requests .queue-item {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #c2b5df;
    color: #FFF;
    margin-left: 8px;
    font-weight: bold;
}