* {
    box-sizing: border-box;
}

body {
    background: white;
}

#lifts-area {
    position: relative;
}

.floor {
    border-bottom: 1px solid black;
    height: 150px;
    display: flex;
}

.lift {
    width: 90px;
    height: 120px;
    background: lightgray;
    position: absolute;
    bottom: 0;
    left: 100px;
}

.lift .lift-door {
    width: 50%;
    background: darkgray;
    height: 100%;
    float: right;
    border: 1px solid black;
}